POSTGRES_DB=solace
POSTGRES_USER=solace
POSTGRES_PASSWORD=change-this-database-password
POSTGRES_PORT=5432

SITE_BASE_URL=https://blog.example.com
SITE_NAME=My Blog
SITE_DESCRIPTION=A personal blog built with Solace

FRONTEND_PORT=8088
BACKEND_PORT=8080

IMGBED_ENDPOINT=https://cloudflare-imgbed-edp.pages.dev/upload?returnFormat=full
IMGBED_TOKEN=change-this-imgbed-api-token
IMGBED_DELETE_ENDPOINT=https://cloudflare-imgbed-edp.pages.dev/api/manage/delete
IMGBED_DELETE_TOKEN=change-this-imgbed-delete-token
IMGBED_FIELD=file
IMGBED_UPLOAD_FOLDER=Blog

IMGBED_BASE=https://cloudflare-imgbed-edp.pages.dev
IMGBED_UPLOAD_TOKEN=change-this-imgbed-api-token
IMGBED_UPLOAD_CHANNEL=cfr2
IMGBED_UPLOAD_CHANNEL_NAME=
IMGBED_CHUNK_THRESHOLD_MB=20
IMGBED_CHUNK_SIZE_MB=8
