POSTGRES_DB=solace
POSTGRES_USER=solace
POSTGRES_PASSWORD=change-this-database-password
POSTGRES_PORT=5432

SITE_BASE_URL=https://blog.example.com
SITE_NAME=My Blog
SITE_DESCRIPTION=A personal blog built with Solace

FRONTEND_PORT=8088
BACKEND_PORT=8080

IMGBED_ENDPOINT=https://cloudflare-imgbed-edp.pages.dev/upload?returnFormat=full
IMGBED_TOKEN=change-this-imgbed-api-token
IMGBED_FIELD=file
IMGBED_UPLOAD_FOLDER=Blog
